<p id="notice"><%= notice %></p>

<h1>Tweets</h1>

<%= render 'form', tweet: @tweet  %>

<table>
  <thead>
    <tr>
      <th>Post</th>
      <th>Ujs</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
    <%= render 'tweet', tweet: tweet %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tweet', new_tweet_path %>

<div id="my-post"></div>
